---
import BaseLayout from "../layouts/BaseLayout.astro"
import { Image } from 'astro:assets'
import Equipo from '../assets/equipo.png'
const pageTitle = "About"
---
<style>
	.intro-section {
		margin-top: 2rem;
	}
	.img {
		align-items: center;
	}
	.goals-section {
		margin-top: 2rem;
	}
</style>
<BaseLayout pageTitle={pageTitle}>
	<h1>Summit Devs</h1>
	<div class="intro-section">
		<h2>¿Quiénes somos?</h2>
		<p>
				Somos un grupo entusiasta de estudiantes de la carrera de Ingeniería en Sistemas e Informática, 
			actualmente postulando para ser parte de la Sociedad Científica de Estudiantes <a href="https://www.scesi.org/" target="_blank">SCESI</a>. Nuestro equipo, 
			denominado Summit Devs, está comprometido con el aprendizaje y la aplicación práctica de 
			tecnologías emergentes. Nos unimos con el propósito de fortalecer nuestras habilidades en 
			desarrollo colaborativo y control de versiones, a través de la creación de proyectos significativos 
			y el uso de herramientas modernas de software.
		</p>
		
		<Image src={Equipo} alt="Imagen representativa de Summit Devs" width="650" />

	  </div>
	  <div class="goals-section">
		<h2>Nuestros Objetivos</h2>
		<ul>
			<li>Aprender y dominar los fundamentos de Git, GitHub y GitFlow, implementándolos en nuestros proyectos.</li>
			<li>Desarrollar en equipo una página web estática utilizando el framework Astro, como parte de nuestro aprendizaje colaborativo.</li>
			<li>Participar activamente en la Sociedad Científica, contribuyendo con proyectos que demuestren nuestra capacidad técnica y compromiso con la carrera.</li>
	   </ul>
	  </div>
</BaseLayout>
