---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---
<style>
    html {
        background-color: #94e0f3;
        width: auto;
    }
    body {
        width: 800px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 0px 20px 20px 20px;
        border: 5px solid black;
    }
    h1 { 
    margin: 0;
    padding: 20px 0;
    color: #b70000;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
    text-align: center;
    }
    h3{
        text-align: justify;
        font-style: italic;
    }
    p{
        text-align: justify; 
        line-height: 1.5;
    }
    
    img {
        display: block;
        margin: 0 auto;
    }
</style>

<BaseLayout >
        <h1>Bienvenido/a al Blog de SUMMIT DEVS</h1>

        <img class="imagen" src="/src/assets/GitHub.png" alt="Descripción de la imagen">

        <h2>¡Aprende a Dominar el Control de Versiones y la Colaboración en Proyectos!</h2>
        <p>En nuestro blog, te ofrecemos una guía completa para aprender a utilizar Git y GitHub de manera efectiva. 
        Ya seas un principiante completo o tengas algo de experiencia, encontrarás recursos útiles y 
        tutoriales paso a paso para mejorar tus habilidades.</p>
        <h2>Contenido Destacado</h2>
        <h3>1. Introducción a Git</h3>
        <p>Aprende los conceptos básicos de Git, como commits, ramas y fusiones.</p>
        <h3>2. Flujo de Trabajo con Git</h3>
        <p>Descubre cómo organizar tu trabajo y colaborar con otros usando Git.</p>
        <h3>3. GitHub para Colaboración</h3>
        <p>Aprende a utilizar GitHub para alojar proyectos, gestionar problemas y colaborar con otros desarrolladores.</p>
        <h3>4. Prácticas Recomendadas</h3>
        <p>Descubre consejos y trucos para optimizar tu flujo de trabajo con Git y GitHub.</p>
    
</BaseLayout>